<div class="jumbotron">
	<form class="form-horizontal">
    	<div class="form-group">
    		<label for="inserted_at" class="col-sm-2 control-label">Дата</label>
    		<div class="col-sm-5">
    			<input id="timestamp" type="text" class="form-control">
    		</div>
    		<div class="col-sm-3">
					<div class="btn btn-default" id="change_rate">Обновить</div>
				</div>
    	</div>
	</form>
</div>